@font-face {
    font-family: SpaceMono-Regular;
    src: url(../../assets/Fonts/Space_Mono/SpaceMono-Regular.ttf);
}

@font-face {
    font-family: SpaceMono-Bold;
    src: url(../../assets/Fonts/Space_Mono/SpaceMono-Bold.ttf);
}



.LIGHTmainsectiondiv{
    background-color:white;
    width: 40%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 5px 12px 6px 0px rgba(210,193,193,0.46);
-webkit-box-shadow: 5px 12px 6px 0px rgba(210,193,193,0.46);
-moz-box-shadow: 5px 12px 6px 0px rgba(210,193,193,0.46);
}

.DARKmainsectiondiv{
    background-color: #1E2A47;
    width: 40%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
   
}


#infodiv{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    row-gap: 10px;
}

#extradiv{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;

}

#nameanddatediv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 8px;
    
}

.DARKnumbersinfo{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 15%;
    background-color: #141D2F;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 0 10px 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.LIGHTnumbersinfo{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 15%;
    background-color: #f6f8ff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 0 10px 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}



.commondiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
}

#lowerinfodiv{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-top: -50px;
    row-gap: 20px;
    
    
}

#linksdiv{
    display: grid;
    width: 100%;
    height: 40%;
    grid-template-columns: auto auto ;
    row-gap: 20px;
    column-gap: 30px;
    box-sizing: border-box;
    padding: 20px 0 20px 0;
}

.commonlinksdiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
}

.LIGHTname{
    margin: 0;
    font-family: SpaceMono-Bold;
    color: #2B3442;
    font-size: 26px;
}

.DARKname{
    margin: 0;
    font-family: SpaceMono-Bold;
    color: white;
    font-size: 26px;
}

#date{
    font-size: 15px;
    color: #697C9A;
    font-family: SpaceMono-Regular;
    margin-top: 8px;
}

#belowname{
    color: #0079FF;
    font-family: SpaceMono-Regular;
    font-size: 16px;
}

.DARKbio{
    color: white;
    font-family: SpaceMono-Regular;
    font-size: 15px;
}

.LIGHTbio{
    color: #4B6A9B;
    font-family: SpaceMono-Regular;
    font-size: 15px;
}

.LIGHTinfotype{
    color: #4B6A9B;
    font-family: SpaceMono-Regular;
    font-size: 13px;
}

.DARKinfotype{
    color: white;
    font-family: SpaceMono-Regular;
    font-size: 13px;
}

.LIGHTinfovalue{
    color: #2B3442;
    font-size: 22px;
    font-family: SpaceMono-Bold;

}

.DARKinfovalue{
    color: white;
    font-size: 22px;
    font-family: SpaceMono-Bold;

}

.LIGHTlinkname{
    color: #4B6A9B;
    font-size: 15px;
    font-family: SpaceMono-Regular;
    text-decoration: none;
}

.DARKlinkname{
    color: white;
    font-size: 15px;
    font-family: SpaceMono-Regular;
    text-decoration: none;
}

#twitter{
    color: #4B6A9B;
    font-size: 15px;
    font-family: SpaceMono-Regular;

}

@media screen and (max-width: 950px){
    .LIGHTmainsectiondiv{
        width: 90%;
        height: 70%;
    }
    .DARKmainsectiondiv{
        width: 90%;
        height: 70%;
    }

    #extradiv{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        width: unset;
    }

    #lowerinfodiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-top: 0px;
        row-gap: 20px;
    }

    #infodiv{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        column-gap: 10%;
    }
}

@media screen and (max-width:450px){
    .LIGHTmainsectiondiv{
        width: 98%;
        height: 99%;
    }
    .DARKmainsectiondiv{
        width: 98%;
        height: 99%;
    }

    #extradiv{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        width: unset;
        
    
    }

    #lowerinfodiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-top: 0px;
        row-gap: 20px;
        
        
    }

    #infodiv{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        column-gap: 10%;
    }

    #linksdiv{
        display: grid;
        width: 100%;
        height: 40%;
        grid-template-columns: auto  ;
        row-gap: 20px;
        column-gap: 20px;
        box-sizing: border-box;
        padding: 0;
    }

    .LIGHTlinkname{
        font-size: 13px;
    }

    .DARKlinkname{
        font-size: 13px;
    }

    .LIGHTinfotype{
        font-size: 11px;
    }
    .DARKinfotype{
        font-size: 11px;
    }
    
    .LIGHTinfovalue{
        font-size: 16px;
    
    }
    .DARKinfovalue{
        font-size: 16px;
    
    }

    .DARKname{
        font-size: 16px;
    }

    .LIGHTname{
        font-size: 16px;
    }

    
    #date{
        font-size: 13px;
    }

    #belowname{
        font-size: 13px;
    }

    .DARKbio{
        font-size: 13px;
    }

    .LIGHTbio{
        font-size: 13px;
    }
}